@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.textGradient {
    background: -webkit-linear-gradient(#023047, #219EBC);
    background: linear-gradient(#023047, #219EBC); /* Add standard property */
    -webkit-background-clip: text;
    background-clip: text; /* Add standard property */
    -webkit-text-fill-color: transparent;
}
.purpleShadow {
    box-shadow: 3px 3px 1px 1px rgb(2, 48, 71);

}

.purpleShadow:hover {
    transform: translate(3px, 3px );
    box-shadow: 0px 0px 1px 1px rgb(142, 202, 230);
}